<%- include("./partials/header.ejs") %>

    <div class="add-css">
        <h3 align='center'>Add workspace</h2>


            <form>
                <h4>Workspace name</h4>
                <input name=user type="text" class="form-control" placeholder="Enter workspace name" required>
            </form>

            <form>
                <h4> Location building</h4>
                <select class="form-control">
                    <option selected disabled>select location building</option>
                    <option value="1">SIT
                    <option value="2">CB1
                    <option value="3">CB2
                    <option value="4">library KMUTT
                </select>
            </form>

            <form>
                <h4> Detail </h4>
                <textarea rows="10" cols="55" class="form-control">
    </textarea>
            </form>

            <form>

                <h4> Type </h4>
                <input name=user type="radio"> &nbsp;Room &nbsp; &nbsp;
                <input name=user type="radio"> &nbsp;Chair
            </form>
            <br>
            <form>
                <h4> Time </h4>

                <p>Open</p>

                <select class="form-control">
                    <option selected disabled>select tiome open</option>
                    <option value="1">08:30
                    <option value="2">09:00
                    <option value="3">09:30
                    <option value="4">10:00
                    <option value="5">10:30
                    <option value="6">11:00
                    <option value="7">11:30
                    <option value="8">12:00
                    <option value="9">12:30
                    <option value="10">13:00
                    <option value="11">13:30
                    <option value="12">14:00
                    <option value="13">14:30
                    <option value="14">15:00
                    <option value="15">15:30
                    <option value="16">16:00
                    <option value="17">16:30


                </select>
                <p>Close</p>

                <select class="form-control">
                    <option selected disabled>select time close</option>
                    <option value="1">08:30
                    <option value="2">09:00
                    <option value="3">09:30
                    <option value="4">10:00
                    <option value="5">10:30
                    <option value="6">11:00
                    <option value="7">11:30
                    <option value="8">12:00
                    <option value="9">12:30
                    <option value="10">13:00
                    <option value="11">13:30
                    <option value="12">14:00
                    <option value="13">14:30
                    <option value="14">15:00
                    <option value="15">15:30
                    <option value="16">16:00
                    <option value="17">16:30

                </select>
            </form>
            <br>

            <h4>Time slot </h4>
            <form>
                วันที่ :
                <input type="datetime-local" name="bdaytime" class="form-control">




                <br>


                <h4> Equipment </h4>

                <form name=form1>
                    <input type="checkbox" name=user type="radio">Post-it

                    <input type=button value="+" onclick="document.form1.input1.value++">

                    <input name=input1 value="0" size=1 onfocus="buffer=this.value" onchange="if (isNaN(this.value)) 
            { this.value=buffer}">

                    <input type=button value="-" onclick="document.form1.input1.value--">
                </form>

                <br>
                <form name=form2>
                    <input type="checkbox" name=user type="radio">Pen

                    <input type=button value="+" onclick="document.form2.input1.value++">

                    <input name=input1 value="0" size=1 onfocus="buffer=this.value" onchange="if (isNaN(this.value)) 
       { this.value=buffer}">

                    <input type=button value="-" onclick="document.form2.input1.value--">
                </form>

                <br>
                <form class="imgForm" action="leanform.php" method="post" enctype="multipart/form-data">
                    <input type="file" name="upload" />
                    <input type="submit" name="save" value="upload" />
                </form>



    </div>



    <button class="button">Create</a>




        <%- include("./partials/footer.ejs") %>