<%- include("./partials/header.ejs") %>

    <% if (message){%>
        <p class="text-center text-danger">
            <%-message%>
        </p>
        <% } %>


            <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form" action="" method="post" enctype="multipart/form-data">
                        <span class="contact100-form-title">
                            Edit workspace
                        </span>

                        <div class="wrap-input100 validate-input bg1"
                            data-validate="Please Type Your New Workspace Name">
                            <span class="label-input100">Workspace name *</span>
                            <input class="input100" name="workspace_name" type="text"
                                placeholder="Enter Your New Workspace Name">
                        </div>

                        <div class="wrap-input100 input100-select bg1">
                            <span class="label-input100">Location building *</span>
                            <div>
                                <select class="select2" name="location">
                                    <option selected disabled>select location building</option>
                                    <option value="0">SIT</option>
                                    <option value="1">CB1</option>
                                    <option value="2">CB2</option>
                                    <option value="3">library KMUTT</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>


                                <div class="wrap-input100 validate-input bg1 rs1-alert-validate"
                                    data-validate="Please Type Your Message">
                                    <span class="label-input100">Detail</span>
                                    <textarea class="input100" name="message"
                                        placeholder="Your message here..."></textarea>
                                </div>


                                <div class="wrap-input100 validate-input bg1">
                                    <div class="w-full dis-none js-show-service">
        
                                        <span class="label-input100">Type</span>
        
                                        <input class="input-radio100" id="radio1" type="radio" value="0" name="roomtype"
                                            value="physical" checked="checked" required>
                                        <label class="label-radio100" for="radio1">
                                            Room
                                        </label>
        
        
                                        <input class="input-radio100" id="radio2" name=roomtype type="radio" value="1" required>
                                        <label class="label-radio100" for="radio2">
                                            Chair
                                        </label>
                                    </div>
        
                                </div>
                           
                               
                               
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">Timeopen *</span>
                                    <select name="timeopen"  class="select2">
                                        <option selected disabled>select tiome open</option>
                                        <option>08:30
                                        <option>09:00
                                        <option>09:30
                                        <option>10:00
                                        <option>10:30
                                        <option>11:00
                                        <option>11:30
                                        <option>12:00
                                        <option>12:30
                                        <option>13:00
                                        <option>13:30
                                        <option>14:00
                                        <option>14:30
                                        <option>15:00
                                        <option>15:30
                                        <option>16:00
                                        <option>16:30

                                    </select>
                                </div>

                                <div class="wrap-input100 bg1 rs1-wrap-input100">
                                    <span class="label-input100">Timeclose *</span>
                                    <select name="timeclose"  class="select2">
                                        <option selected disabled>select time close</option>
                                        <option>08:30
                                        <option>09:00
                                        <option>09:30
                                        <option>10:00
                                        <option>10:30
                                        <option>11:00
                                        <option>11:30
                                        <option>12:00
                                        <option>12:30
                                        <option>13:00
                                        <option>13:30
                                        <option>14:00
                                        <option>14:30
                                        <option>15:00
                                        <option>15:30
                                        <option>16:00
                                        <option>16:30

                                    </select>
                                </div>


                                <div class="container-contact100-form-btn">
                                    <button class="contact100-form-btn">
                                        <span>
                                            Submit
                                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                    </form>
                </div>
            </div>
        </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


 


                <style>
                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                </style>