<%- include("./partials/header.ejs") %>

  <div class="add-css">
    <h2 align='center' style="font-size: 25px;">My Reserved</h2>
  </div>


  <div class="blog-card" id="myworksapce">
    <div class="meta">
      <div class="photo"
        style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">Peach</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li>13:00-15:00</a></li>
           
          </ul>
        </li>
      </ul>
    </div>


 
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
      <div class="modal-content">
      <div class="container">
          <h1 style="font-size: 20px;">Cancle Reserve</h1>
          <p>Are you sure you want to cancle reserve?</p>
        
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('myworksapce').style.display='none'" class="deletebtn" onclick="myFunction()">Yes</button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">No</button>
       
          </div>
        </div>
      </div>  
    </div>


    <div class="description">
      <div class="read-more">
        <i style="color: red;" class="fa fa-trash" aria-hidden="true" onclick="document.getElementById('id01').style.display='block'"></i>
      </div>
      
      <h1>CB 2301</h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
        praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
      </p>
      <h5 style="font-size: 18px" class="text-dark mt-1"> Equipment </h5>

      <div class="mt-1 mb-1 spec-1">
        </span><span>Pen</span>
        <span class="dot"></span> <span>Post-it</span>
        <span class="dot"></span><span>Projector<br></span>
      </div>

      <div class="read-more">
        <button type="button" class="button_check">Check in/Check out</button>

      </div>
    </div>
  </div>



  <div class="blog-card" id="myworksapce">
    <div class="meta">
      <div class="photo"
      style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">Peach</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li>13:00-15:00</a></li>
           
          </ul>
        </li>
      </ul>
    </div>


