<%- include("./partials/header.ejs") %>


    

        <form action="" method="POST" name="contact" id="contact">
                <% if (message){%>
                  <p class="text-center text-danger">
                      <%-message%>
                      </p>
              <% } %>        
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="booking-cta">
							<h1 >Reserve Workspace</h1>
							
						</div>

						
					</div>
					<div class="col-md-7 col-md-offset-1">
						<div class="booking-form">
		
							
								<div class="row">	
									<div class="">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input  name="reservedate"  type="date"  id="datefield"  class="form-control" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Start Time</span>
											<input class="form-control" type="time" name="timestart" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">End Time</span>
											<input class="form-control" type="time" name="timeend" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Choose Equipment</span>
											<select class="form-control">
												<option selected disabled>Select Equipment</option>
												<option>pen</option>
												<option>notebook</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Amount</span>
											<select class="form-control">
												<option selected disabled>Select Amount</option>
												<option>1</option>
												<option>2</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								
								<div class="form-btn">
									<button class="submit-btn">Reserve</button>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>   


            </form>

   

<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
  var yyyy = today.getFullYear();
  if(dd<10){
    dd='0'+dd
  } 
  if(mm<10){
    mm='0'+mm
  } 
  
  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("datefield").setAttribute("min", today);
  </script>
  



     

   

   