/* All */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', serif;
}

/* navbar */

nav {
    background-color:  #0e1823;
    max-width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7rem;
    box-shadow:0px 2px 10px #cecccc;
    
}

.logo-grid {
    
    display: flex;
    align-items: center;
    font-family: 'Kanit', serif;
    
    
}

.fa-user-astronaut {
    color: #ffffff;
    padding-right: 3px;
    font-size: 30px;
}

.logo-grid h3 a {
    color: #ffffff;
    font-size: 26px;
    grid-column: left;
    cursor: pointer;
    text-decoration: none;
    
}



.ham-grid {
    grid-column: right;
    display: flex;
    align-items: center;
}


.fa-bars{
  
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    
}

/* in hamburger */

.center-ham {

    text-align: center;
}

.profile-icon {
    padding: 1.5rem 0rem 0rem 0rem;
    font-size: 65px;
    cursor: pointer;
    text-decoration: none;
}

.ham-list p a:hover {
    color: #F83C3C;
    
}
.ham-list p a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.lineHr {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 0;
    border: 1px solid #000000;
    
}

.btn-ham {
    margin-bottom: 1.75rem;
    width: 16rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: #EF4444;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0.35rem;
}

.btn-ham:hover {
    background-color: #B91C1C;
    color: #ebebeb;
    transition: .2s ease-in-out;
}

.animate {
    transform: translate(1300%, 0);
    transition: transform 0.5s ,
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}


/* hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
} */

/* carousel */
/* .custom-carousel{
   
   
   margin: 30px 300px;
   
} */


/* main card List */


.list-card-grid {
    
    display : grid;
    grid-template-columns: repeat(4,280px);
    justify-content: center;
    grid-gap: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}


.custom-card  {
    width: 100%;
    overflow: hidden;
    font-family: 'Kanit', serif;
    box-shadow:0px 2px 10px #cecccc;
    border-radius: 3%;
    margin-bottom: 90px;

}

.custom-card img{
    transition: .3s ease-in-out;
    height: 165px;
    width: 100%;
    
}

.custom-card img:hover {
    transform: scale(1.05);
    
}

.fa-building {
    font-size: 20px;
    margin-right: 3px;
    margin-bottom: 6px;
}

.card-title {
    display: inline;
    margin-bottom: 6px;
}

.status ,.fa-check-circle{
    font-size: 14px;
    color: #16c79a;
    display: inline;
    
}

.clock ,.fa-clock {
    font-size: 14px;
    color: #000000;
    display: inline;
    

}

.fa-clock {
    margin-left: 103px;
}

.csprogress {
    color: aquamarine;
    width: 100px;
    
}

.card-text {
    font-size: 14px;
    color: #868495;
    margin: 10px 0px;
}



.btn-custom {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    border : 1px solid #ff9407;
    color: #ff9407;
    transition: .2s ease-in-out;
}

.btn-custom:hover {
    color: white;
    background: #ff9407;
}


/* footer */

footer p{
    max-width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0e1823;
    color: white;
    font-family: 'Kanit', serif;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
   

   
}


/* other */
 

/* Responsive */

/* รองรับขนาด 0-480px */

@media only screen and (max-width: 480px) {
    nav{
        padding: 0 3rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(1,280px);
    }
 
  }

  /* รองรับขนาด 480-768px */

  @media only screen and (min-width: 480px) {
    nav{
        padding: 0 3rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(1,280px);
    }
 
  }
  /* รองรับขนาด 768-992px */
  @media only screen and (min-width: 768px) {
    nav{
        padding: 0 5rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(2,280px);
    }
  
  }
  /* รองรับขนาด 992px-?px++ */
  @media only screen and (min-width: 992px) {
    nav{
        padding: 0 7rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(4,280px);
    }
    
  }

  /* หน้า add-ws*/
  .add-css{
    margin-top: 40px;
    margin-bottom: 80px;
    margin: auto;
    padding-top: 30px;
   
}



.button{
   
    font-size: 16px;
    border-radius: 10px;
    background-color: #FFB800;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 120px;
    margin-bottom: 50px;
    margin-left: 820px;

}

.button:hover{
    background-color:#fc8f12;
    color:white;
}
.delete{
    font-size: 16px;
    border-radius: 5px;
    background-color: #ff8880;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
    
  
}
.delete:hover{
    background-color:#ff746a;
    color:white;

}


.container-eq{
    line-height: 18pt 
}

.add_form_field{
    font-size: 16px;
    border-radius: 5px;
    background-color: #5bacf8;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
 
}
.add_form_field:hover{
    background-color:#3d8cd6;
    color:white;
}

.add-back-ws{
    background-color: #F5F5F5;
    width: 800px;
    padding: 45px;
    margin: auto;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }
  input[type=text]:focus {
      background-color: #FFFFCC;
  }

 /* หน้า add-eq */
.add_equipment:hover{
    background-color:#3d8cd6;
    color:white;
}
.add_equipment{
    font-size: 16px;
    border-radius: 5px;
    background-color: #5bacf8;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
 
}
.add-back{
    background-color: #F5F5F5;
    width: 500px;
    padding: 50px;
    margin: auto;
}

 /*ช่องค้นหา */ 
.search{
   display: flex;
   justify-content: center;
   margin-top: 2%;
   margin: auto;
   width: 700px;
   margin-top: 20px;
}
.input{
    width: 350px;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px; 
}

.button1{
    background-color: #cb4335;
    border: none;
    height: 40px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    padding: 0 7px;
    
}
.button1:hover{
background-color: #ff9407;

}

 /* หน้า detail */ 
 
 
.add-back-dt{
    font-size: 19px;
    background-color: #F5F5F5;
    width: 600px;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


 /* Footer */ 
 .fa-envelope-square{
    font-size: 35px; 
  
 }
 .fa-envelope-square:hover{
    color: #FFDEAD;
 }
 .fa-facebook-square{
    font-size: 35px;

 }
 .fa-facebook-square:hover{
    color:  #66CCFF;
 }
/* หน้า edit worckspace*/ 

.Edit-btn{
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    color: #e0461f;
    background-color: #b43333;
    color: white;
    margin-left: 1020px;

}
.Edit-btn:hover {
    color: black;
    background: #f87f0e;
}



 /* หน้า reserve*/ 
 .reserve-css{
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 500px;
    margin-right: 500px;
 }
 .button2{
    font-size: 16px;
    border-radius: 10px;
    border: black;
    color: black;
    padding: 3px 15px;
    text-decoration: none;
    display: inline-block;
    background:#FFFFCC;
    border : 1px solid black;
    text-align: center;
    text-decoration: none;
    margin: 3px 7px;
    cursor: pointer;
}
.button3{
    font-size: 17px;
    border-radius: 10px;
    background-color: #FF6633;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 45px;
    margin-left: 565px;
    margin-right: 350px;
}
.button3:hover{
    background-color:	#FFCC99;
    color:black;
}
.button4{
    font-size: 18px;
    border-radius: 10px;
    background-color: #FFB800;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 6px 90px;
    display: inline-block;
    margin: auto auto;
    display: block;
}

.button4:hover{
    background-color:#66CCFF;
    color:black;
}


.calendar{
    color: #fff;
    margin: 10px auto;
    background: #04b6e2;
    padding: 60px 40px 80px 40px;
    width: 95%;
    max-width: 700px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
    position: relative;
  }
  .calendar__title{
    text-align: center;
  }
  .calendar--day-view{
    position: absolute;
    border-radius: 3px;
    top: -2.5%;
    left: -2.5%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
   box-shadow: 3px 12px 5px rgba(2,2,2,0.16);
    z-index: 2;
    overflow: hidden;
    transform: scale(0.9) translate(30px,30px);
    opacity: 0;
    visibility: hidden;
  /*   border-radius: 5px; */
    display: none;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .day-view-content{
    color: #222;
    width: 100%;
    padding-top: 55px;
  }
  .day-highlight, .day-add-event{
    padding: 8px 10px;
    margin: 12px 15px;
    border-radius: 4px;
    background: #e7e8e8;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    font-family: "Avenir", sans-serif;
  }
  .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .row .qtr{
    width: 40%;
  }
  .row .half{
    width: 100%;
  }
  @media (min-width: 800px){
    .row{
      flex-wrap: nowrap;
    }
    .row .half{
      width: 35%;
    }
    .row .qtr{
      width: 25%;
    }
  }
  
  .day-add-event{
    background: #04b6e2;
    color: #fff;
    padding: 16px;
    display: none;
    transform: translateY(-15px);
    opacity: 0;
  }
  .day-add-event[data-active="true"]{
    display: block;
    animation: popIn 250ms 1 forwards;
  }
  .add-event-label{
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
  }
  .add-event-edit{
    display: block;
    margin: 4px 0;
    max-width: 70%;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
  }
  .add-event-edit--long{
    max-width: 90%;
  }
  
  input.add-event-edit{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    font: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
  }
  .add-event-edit--error, input.add-event-edit--error{
    border-color: #ff5151;
    animation: shake 300ms 1 forwards;
  }
  @keyframes shake {
    20%, 60%{
      transform: translateX(4px);
    }
    40%, 80%{
      transform: translateX(-4px);
    }
  }
  input.add-event-edit::-webkit-input-placeholder {
     color: #fff;
  }
  
  input.add-event-edit:-moz-placeholder { /* Firefox 18- */
     color: #fff;  
  }
  
  input.add-event-edit::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;  
  }
  
  input.add-event-edit:-ms-input-placeholder {  
     color: #fff;  
  }
  .event-btn{
    padding: 3px 8px;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 65px;
    margin: 5px 0;
    text-align: center;
  }
  
  .event-btn--save{
    border-color: #fff;
     background: #74c500;
    color: #fff;
    border-color: transparent;
  }
  .event-btn--save:hover{
    box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
  }
  .event-btn--cancel{
    background: #ff5151;
    color: #fff;
    border-color: transparent;
  }
  .event-btn--cancel:hover{
    box-shadow: 0px 2px 4px rgba(2,2,2,0.2);
  }
  /* .add-event-btn:hover, .add.event-btn:focus{
    background: #00258e;
    box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
  } */
  .day-highlight .day-events-link{
    border-bottom: 2px solid #222;
    padding: 0;
    cursor: pointer;
  }
  #add-event{
    color: #04b6e2;
    border-color: #04b6e2;
  }
  .day-view-exit{
    position: absolute;
    top: 24px;
    line-height: 1em;
    left: 22px;
    font-size: 22px;
    color: #252525;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    cursor: pointer;
    opacity: 0;
    animation: popIn 200ms 1 forwards;
    text-transform: uppercase;
  }
  .day-view-date{
    position: absolute;
    top: 19px;
    right: 22px;
    text-align: right;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    color: #393939;
    border-bottom: 2px solid #222;
    cursor: pointer;
  }
  .day-inspiration-quote{
    position: absolute;
  /*   top: 90px; */
    margin-top: -40px;
    left: 10%;
    width: 80%;
    height: calc(100% - 110px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #ddd;
    line-height: 1.1em;
    font-family: 'Avenir', sans-serif;
    z-index: -1;
  }
  .day-event-list-ul{
    list-style: none;
    margin: auto;
    width: 95%;
    padding: 0;
    max-height: 300px;
    overflow: auto;
  }
  .day-event-list-ul li {
    padding: 10px;
    margin: 10px 0;
  /*   background: #04b6e2; */
  /*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
    position: relative;
  }
  .event-dates small{
    font-size: 0.65em;
    color: #444;
  }
  .event-dates{
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    color: #04b6e2;
    font-size: 18px;
    text-transform: lowercase;
  /*   position: relative; */
  }
  .event-delete{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 12px;
    color: #f25656;
    cursor: pointer;
  }
  .event-name{
    font-size: 19px;
    font-family: 'Avenir', sans-serif;
    color: #222;
    padding:10px;
    background: #f7f7f7;
    margin: 2px 0;
    display: block;
    text-transform: initial;
  }
  .calendar--day-view-active{
    animation: popIn 200ms 1 forwards;
    visibility: visible;
    display: flex;
    transition: visibility 0ms;
  
  }
  .calendar--view{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
  }
  .cview__month{
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    padding-bottom: 20px;
    color: #222;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .cview__month-last,.cview__month-next,.cview__month-current{
    width: 33.33333%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #222;
  }
  .cview__month-last:hover,.cview__month-next:hover{
    color: #fff;
  }
  
  .cview__month-current{
    font-size: 22px;
    cursor: default;
    animation: popIn 200ms 1 forwards;
    transform: translateY(20px);
    opacity: 0;
    position: relative;
  }
  .cview__month-reset{
    animation: none;
  }
  .cview__month-activate{
    animation: popIn 100ms 1 forwards;
  }
  .cview--spacer, .cview__header, .cview--date{
    width: 14.28571428571429%;
    max-width: 14.28571428571429%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 14px;
    font-weight: 900;
  }
  .cview--date{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  .has-events::after{
    border-radius:100%;
    animation: popIn 200ms 1 forwards;
    background: rgba(255,255,255,0.95);
    transform: scale(0);
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 12px;
    
  }
  .cview--date:hover::before{
    background: rgba(255,255,255,0.2);
  }
  .cview--date.today{
    color: #111;  
  }
  .cview--date.today::before{
    animation: popIn 200ms 1 forwards;
    background: rgba(255,255,255,0.2);
    transform: scale(0);
  }
  @keyframes popIn{
  
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }
  .cview--date::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transform: scale(0.8);
    z-index: 0;
  }
  .footer{
    width: 100%;
    bottom: 50px;
    left: 0;
    position: absolute;
    font-size: 14px;
    text-align: center;
  }
  .footer__link{
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid #fff;
  }
  
