/* All */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', serif;
}

/* navbar */

nav {
    background-color:  #0e1823;
    max-width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7rem;
    box-shadow:0px 2px 10px #cecccc;
    
}

.logo-grid {
    
    display: flex;
    align-items: center;
    font-family: 'Kanit', serif;
    
    
}

.fa-user-astronaut {
    color: #ffffff;
    padding-right: 3px;
    font-size: 30px;
}

.logo-grid h3 a {
    color: #ffffff;
    font-size: 26px;
    grid-column: left;
    cursor: pointer;
    text-decoration: none;
    
}

.ham-grid {
    grid-column: right;
    display: flex;
    align-items: center;
}


.fa-bars{
  
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    
}

/* in hamburger */

.center-ham {

    text-align: center;
}

.profile-icon {
    padding: 1.5rem 0rem 0rem 0rem;
    font-size: 65px;
    cursor: pointer;
    text-decoration: none;
}

.ham-list p a:hover {
    color: #F83C3C;
    
}
.ham-list p a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.lineHr {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 0;
    border: 1px solid #000000;
    
}

.btn-ham {
    margin-bottom: 1.75rem;
    width: 16rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: #EF4444;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0.35rem;
}

.btn-ham:hover {
    background-color: #B91C1C;
    color: #ebebeb;
    transition: .2s ease-in-out;
}

.animate {
    transform: translate(1300%, 0);
    transition: transform 0.5s ,
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}


/* hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
} */

/* carousel */
/* .custom-carousel{
   
   
   margin: 30px 300px;
   
} */


/* main card List */


.list-card-grid {
    
    display : grid;
    grid-template-columns: repeat(4,280px);
    justify-content: center;
    grid-gap: 3rem;
    margin-top: 50px;
    margin-bottom: 0px;
    
    
}


.custom-card  {
    width: 100%;
    overflow: hidden;
    font-family: 'Kanit', serif;
    box-shadow:0px 2px 10px #cecccc;
    border-radius: 3%;
    margin-bottom: 5px;

}

.custom-card img{
    transition: .3s ease-in-out;
    height: 165px;
    width: 100%;
    
}

.custom-card img:hover {
    transform: scale(1.05);
    
}

.fa-building {
    font-size: 20px;
    margin-right: 3px;
    margin-bottom: 6px;
}

.card-title {
    display: inline;
    margin-bottom: 6px;
}

.status ,.fa-check-circle{
    font-size: 14px;
    color: #16c79a;
    display: inline;
    
}

.clock ,.fa-clock {
    font-size: 14px;
    color: #000000;
    display: inline;
    

}

.fa-clock {
    margin-left: 0px;
}

.csprogress {
    color: aquamarine;
    width: 100px;
    
}

.card-text {
    font-size: 14px;
    color: #868495;
    margin: 10px 0px;
}



.btn-custom {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    border : 1px solid #ff9407;
    color: #ff9407;
    transition: .2s ease-in-out;
}

.btn-custom:hover {
    color: white;
    background: #ff9407;
}

.btn-custom2 {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .5rem;
  border : 1px solid #33CC99;
  color: white;
  transition: .2s ease-in-out;
  background-color:#33CC99;
}



.btn-custom2:hover {
  color: white;
  background: #009999;
}

/* footer */

footer p{
    max-width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0e1823;
    color: white;
    font-family: 'Kanit', serif;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
   

   
}


/* other */
 

/* Responsive */

/* รองรับขนาด 0-480px */

@media only screen and (max-width: 480px) {
    nav{
        padding: 0 3rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(1,280px);
    }
 
  }

  /* รองรับขนาด 480-768px */

  @media only screen and (min-width: 480px) {
    nav{
        padding: 0 3rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(1,280px);
    }
 
  }
  /* รองรับขนาด 768-992px */
  @media only screen and (min-width: 768px) {
    nav{
        padding: 0 5rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(2,280px);
    }
  
  }
  /* รองรับขนาด 992px-?px++ */
  @media only screen and (min-width: 992px) {
    nav{
        padding: 0 7rem ;
    }
    .list-card-grid {
        display : grid;
        grid-template-columns: repeat(4,280px);
    }
    
  }

  /* หน้า add-ws*/
  .add-css{
    margin-top: 40px;
    margin-bottom: 80px;
    margin: auto;
    padding-top: 30px;
   
}



.button{
   
    font-size: 16px;
    border-radius: 10px;
    background-color: #FFB800;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 120px;
    margin-bottom: 50px;
    margin-left: 820px;

}

.button:hover{
    background-color:#fc8f12;
    color:white;
}
.delete{
    font-size: 16px;
    border-radius: 5px;
    background-color: #ff8880;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
    
  
}
.delete:hover{
    background-color:#ff746a;
    color:white;

}


.container-eq{
    line-height: 18pt 
}

.add_form_field{
    font-size: 16px;
    border-radius: 5px;
    background-color: #5bacf8;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
 
}
.add_form_field:hover{
    background-color:#3d8cd6;
    color:white;
}

.add-back-ws{
    background-color: #F5F5F5;
    width: 800px;
    padding: 45px;
    margin: auto;
}


 /* หน้า add-eq */
.add_equipment:hover{
    background-color:#3d8cd6;
    color:white;
}
.add_equipment{
    font-size: 16px;
    border-radius: 5px;
    background-color: #5bacf8;
    border: none;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
 
}
.add-back{
    background-color: #F5F5F5;
    width: 500px;
    padding: 50px;
    margin: auto;
}

 /*ช่องค้นหา */ 


.search{
   display: flex;
   justify-content: center;
   margin-top: 2%;
   margin: auto;
   width: 700px;
   margin-top: 20px;
   max-width: 800px;
   cursor: pointer;
}
.input{
    width: 350px;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px; 
}

.button1{
    background-color: #cb4335;
    border: none;
    height: 60px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    padding: 0 7px;
    cursor: pointer;

}

.button1:hover{
background-color: #ff9407;

}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .search, input[type=submit],.button[type=submit]  {
    width: 100%;
    margin-top: 0;
  }
}

 /* หน้า detail */ 
 
 
.add-back-dt{
    font-size: 19px;
    background-color: #F5F5F5;
    width: 600px;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


 /* Footer */ 
 .fa-envelope-square{
    font-size: 35px; 
  
 }
 .fa-envelope-square:hover{
    color: #FFDEAD;
 }
 .fa-facebook-square{
    font-size: 35px;

 }
 .fa-facebook-square:hover{
    color:  #66CCFF;
 }
/* หน้า edit worckspace*/ 

.Edit-btn{
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    color: #e0461f;
    background-color: #EF4444;
    color: white;
    margin-left: 0px;

}
.Edit-btn:hover {
    color: white;
    background: #B91C1C;
    transition: .5s ease-in-out;
}

.Edit-btn-res{
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: none;
  color: #e0461f;
  background-color: #FFB800;
  color: white;
  margin-left: 0px;

}

.Edit-btn-res:hover {
  color: white;
  background: #f87f0e;
}





 /* หน้า reserve*/ 
 .reserve-css{
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 500px;
    margin-right: 500px;
 }
 .button2{
    font-size: 16px;
    border-radius: 10px;
    border: black;
    color: black;
    padding: 3px 15px;
    text-decoration: none;
    display: inline-block;
    background:#FFFFCC;
    border : 1px solid black;
    text-align: center;
    text-decoration: none;
    margin: 3px 7px;
    cursor: pointer;
}
.button3{
    font-size: 17px;
    border-radius: 10px;
    background-color: #FF6633;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 45px;
    margin-left: 565px;
    margin-right: 350px;
}
.button3:hover{
    background-color:	#FFCC99;
    color:black;
}
.button4{
    font-size: 18px;
    border-radius: 10px;
    background-color: #FFB800;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 6px 90px;
    display: inline-block;
    margin: auto auto;
    display: block;
}

.button4:hover{
    background-color:#66CCFF;
    color:black;
}



 /*------------------------------------------------*/
 

 
/*myws*/

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  width: 2000px;

}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 300px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.button_check{
  background-color:#3366FF;
  border: none;
  height: 40px;
  color: #FFF;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  
}

.button_check:hover{
background-color: #3300FF;

}


.button_checkout{
  background-color:#FF6600;
  border: none;
  height: 40px;
  color: #FFF;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  
}

.button_checkout:hover{
background-color: #FF3300;

}

.button_success{
  background-color:#33CC99;
  border: none;
  height: 40px;
  color: #FFF;
  cursor: not-allowed;
  padding: 0 10px;
  border-radius: 5px;
  
}





/*หน้า re*/
.section {
  position: relative;
	height: 110vh;


}

.section .section-center {
	position: absolute;
	top: 39%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.booking-form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 45px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control::placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:focus {
	background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	color: #98c9ee;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #4fa3e3;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}
.submit-btn:hover{
  background-color:#ff9407;
}
.booking-cta {
	margin-top: 5px;
  margin-left: 40px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #4fa3e3;
	font-weight: 400;
}

.booking-cta p {
	font-size: 22px;
	color: #191a1e;
}










/*---------------------------------------------*/





/*-------------------form--------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #e6e6e6;

}

.wrap-contact100 {
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;

}



/*------------------------------------------------------------------
[  ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
  
}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #00ad5f;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 62px 15px 90px 15px;
  }

  .wrap-input100 {
    padding: 10px 10px 9px 10px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 40px;
  background-color: #f7f7f7;
  top: 35px;
  left: 0px;
  padding: 0 45px 0 22px;
  pointer-events: none;

  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #fa4251;
  line-height: 1.2;
}

.btn-hide-validate {
  font-size: 18px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 12px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f26b";
  font-size: 18px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 10px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .alert-validate::before {
    padding: 0 10px 0 10px;
  }

  .true-validate::after,
  .btn-hide-validate {
    right: 0px;
    width: 30px;
  }
}

/*==================================================================
[ Restyle Radio ]*/
.wrap-contact100-form-radio {
  width: 100%;
  padding: 15px 25px 0 25px;
}

.contact100-form-radio {
  padding-bottom: 5px;
}

.input-radio100 {
  display: none;
}

.label-radio100 {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
}

.label-radio100::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label-radio100::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid transparent;
  background: #00ad5f;
  -moz-background-clip: padding;     
  -webkit-background-clip: padding;  
  background-clip: padding-box; 
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;

}

.input-radio100:checked + .label-radio100::after {
  display: block;
}


/*==================================================================
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-left: 0px ;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: '\f312';
  font-size: 18px;
  color: #555555;
}


/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2 {
  z-index: 1251;
  width: calc(100% + 2px);
  border: 0px solid transparent;
  border-radius: 5px ;
  overflow: hidden;
  background-color: #f7f7f7;
  left: -24px;

}

@media (max-width: 576px) {
  .select2-container--open .select2-dropdown {
    left: -12px;
  }
}


.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
}

@media (max-width: 576px) {
  .select2-container .select2-results__option[aria-selected] {
    padding-left: 12px;
  }
}



/*==================================================================
[ rs NoUI ]*/
.wrap-contact100-form-range {
  width: 100%;
  padding: 20px 25px 57px 25px;
}

.contact100-form-range-value {

  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact100-form-range-value input {
  display: none;
}

#filter-bar {
  height: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  background-color: #f7f7f7;
}
#filter-bar .noUi-connect {
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  background-color: #00ad5f;
  box-shadow: none;
}
#filter-bar .noUi-handle {
  width: 40px;
  height: 36px;
  border: 1px solid #cccccc;
  border-radius: 9px;
  background: #f5f5f5;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  top: -8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-bar .noUi-handle.noUi-handle-lower {
  left: -1px;
}

#filter-bar .noUi-handle.noUi-handle-upper {
  left: -39px;
}

#filter-bar .noUi-handle:before {
  content: "";
  display: block;
  position: unset;
  height: 12px;
  width: 9px;
  background-color: transparent;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}
#filter-bar .noUi-handle:after {
  display: none;
}

@media (max-width: 576px) {
  .wrap-contact100-form-range {
    padding: 20px 0px 57px 0px;
  }

  .wrap-contact100-form-radio {
    padding: 15px 0px 0 0px;
  }
}



/*==================================================================
[ rs NoUI ]*/
.modal-confirm {		
	color: black;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color:black;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: black;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 0px auto;
}

